!!!
%html
  %head
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin: "anonymous"}
    %link{href: "/css/app.css", rel: "stylesheet"}

  %body
    %nav.navbar.navbar-expand.navbar-dark.bg-dark
      %a.navbar-brand{href: '/'}= App::TITLE

      .navbar-collapse
        .navbar-nav.mr-auto
          %li.nav-item
            %a.nav-link{href: "/q"} [Query tool]

          %li.nav-item
            %a.nav-link{href: "/data"} 1. Data
          %li.nav-item
            %a.nav-link{href: "/cte"} 2. CTE
          %li.nav-item
            %a.nav-link{href: "/window-functions"} 3. Window functions
          %li.nav-item
            %a.nav-link{href: "/window-functions-framing"} 4. Framing options
          %li.nav-item
            %a.nav-link{href: "/exercises"} 5. More exercises


    .container
      = yield

    %script{src: "http://code.jquery.com/jquery-3.3.1.min.js", integrity: "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin: "anonymous"}
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js", integrity: "sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D", crossorigin: "anonymous"}
    %script{src: "/js/app.js"}

